NEXT_PUBLIC_AUTH_APP_URL=https://auth.janovix.workers.dev
NEXT_PUBLIC_AUTH_SERVICE_URL=https://auth-svc.janovix.workers.dev
NEXT_PUBLIC_AML_CORE_URL=https://aml-svc.janovix.workers.dev
NEXT_PUBLIC_AUTH_SERVICE_URL_INTERNAL=https://auth-svc.janovix.workers.dev
NEXT_PUBLIC_DOC_SVC_URL=https://doc-svc.janovix.workers.dev
NEXT_PUBLIC_KYC_APP_URL=https://kyc-local.janovix.workers.dev
NEXT_PUBLIC_WATCHLIST_API_BASE_URL=https://watchlist-svc.janovix.workers.dev
NODE_TLS_REJECT_UNAUTHORIZED=0
OPENAI_API_KEY="your-openai-api-key"
ANTHROPIC_API_KEY="your-anthropic-api-key"
GOOGLE_GENERATIVE_AI_API_KEY="your-google-generative-ai-api-key"