@import "tailwindcss";
@import "tw-animate-css";

/* Tailwind v4: explicitly declare where to scan for class usage. */
@source "../**/*.{js,ts,jsx,tsx,mdx}";

@custom-variant dark (&:is(.dark *));

:root {
	--background: oklch(1 0 0);
	--foreground: oklch(0.2778 0.0319 256.2832);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.2778 0.0319 256.2832);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.2778 0.0319 256.2832);
	--primary: oklch(0.4907 0.2362 300.3695);
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(0.4622 0.2654 266.1397);
	--secondary-foreground: oklch(1 0 0);
	--muted: oklch(0.9885 0.0054 274.9676);
	--muted-foreground: oklch(0.5302 0.0475 251.9392);
	--accent: oklch(0.967 0.0213 316.4588);
	--accent-foreground: oklch(0.2778 0.0319 256.2832);
	--destructive: oklch(0.5336 0.1642 39.9522);
	--destructive-foreground: oklch(1 0 0);
	--border: oklch(0.8853 0 0);
	--input: oklch(0.8853 0 0);
	--ring: oklch(0.7198 0.0502 247.5723);
	--chart-1: oklch(0.8699 0.1427 160.7475);
	--chart-2: oklch(0.8357 0.1595 163.5184);
	--chart-3: oklch(0.7465 0.136 169.6251);
	--chart-4: oklch(0.6552 0.1134 177.4684);
	--chart-5: oklch(0.5634 0.094 186.3651);
	--sidebar: oklch(0.9911 0 0);
	--sidebar-foreground: oklch(0.2778 0.0319 256.2832);
	--sidebar-primary: oklch(0.2778 0.0319 256.2832);
	--sidebar-primary-foreground: oklch(0.9911 0 0);
	--sidebar-accent: oklch(0.9761 0 0);
	--sidebar-accent-foreground: oklch(0.2163 0.0025 145.4898);
	--sidebar-border: oklch(0.928 0 0);
	--sidebar-ring: oklch(0.7122 0 0);
	--font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
	--font-serif: Outfit, ui-sans-serif, sans-serif, system-ui;
	--font-mono: DM Mono, ui-monospace, monospace;
	--radius: 0.5rem;
	--shadow-x: 0;
	--shadow-y: 1px;
	--shadow-blur: 8px;
	--shadow-spread: 0px;
	--shadow-opacity: 0.05;
	--shadow-color: oklch(0 0 0);
	--shadow-2xs: 0 1px 8px 0px hsl(0 0% 0% / 0.03);
	--shadow-xs: 0 1px 8px 0px hsl(0 0% 0% / 0.03);
	--shadow-sm:
		0 1px 8px 0px hsl(0 0% 0% / 0.05), 0 1px 2px -1px hsl(0 0% 0% / 0.05);
	--shadow:
		0 1px 8px 0px hsl(0 0% 0% / 0.05), 0 1px 2px -1px hsl(0 0% 0% / 0.05);
	--shadow-md:
		0 1px 8px 0px hsl(0 0% 0% / 0.05), 0 2px 4px -1px hsl(0 0% 0% / 0.05);
	--shadow-lg:
		0 1px 8px 0px hsl(0 0% 0% / 0.05), 0 4px 6px -1px hsl(0 0% 0% / 0.05);
	--shadow-xl:
		0 1px 8px 0px hsl(0 0% 0% / 0.05), 0 8px 10px -1px hsl(0 0% 0% / 0.05);
	--shadow-2xl: 0 1px 8px 0px hsl(0 0% 0% / 0.13);
	--tracking-normal: -0.025em;
	--spacing: 0.25rem;
}

.dark {
	--background: oklch(0.2862 0.0116 248.2326);
	--foreground: oklch(0.9466 0.0167 271.2383);
	--card: oklch(0.2387 0.0359 260.6776);
	--card-foreground: oklch(0.7198 0.0502 247.5723);
	--popover: oklch(0.2862 0.0116 248.2326);
	--popover-foreground: oklch(0.8853 0 0);
	--primary: oklch(0.8285 0.1089 307.5875);
	--primary-foreground: oklch(0.2778 0.0319 256.2832);
	--secondary: oklch(0.6594 0.1693 273.7358);
	--secondary-foreground: oklch(0.2063 0.0361 264.289);
	--muted: oklch(0.2862 0.0116 248.2326);
	--muted-foreground: oklch(0.8853 0 0);
	--accent: oklch(0.8853 0 0);
	--accent-foreground: oklch(0.2778 0.0319 256.2832);
	--destructive: oklch(0.5336 0.1642 39.9522);
	--destructive-foreground: oklch(0.9911 0 0);
	--border: oklch(0.2768 0 0);
	--input: oklch(0.329 0 0);
	--ring: oklch(0.7198 0.0502 247.5723);
	--chart-1: oklch(0.9323 0.0946 154.8039);
	--chart-2: oklch(0.9 0.1289 157.215);
	--chart-3: oklch(0.8699 0.1427 160.7475);
	--chart-4: oklch(0.8357 0.1595 163.5184);
	--chart-5: oklch(0.7465 0.136 169.6251);
	--sidebar: oklch(0.2163 0.0025 145.4898);
	--sidebar-foreground: oklch(0.8853 0 0);
	--sidebar-primary: oklch(0.4763 0.0806 185.6575);
	--sidebar-primary-foreground: oklch(1 0 0);
	--sidebar-accent: oklch(0.2686 0 0);
	--sidebar-accent-foreground: oklch(0.9911 0 0);
	--sidebar-border: oklch(0.2768 0 0);
	--sidebar-ring: oklch(0.4423 0 0);
	--font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
	--font-serif: Outfit, ui-sans-serif, sans-serif, system-ui;
	--font-mono: DM Mono, ui-monospace, monospace;
	--radius: 0.5rem;
	--shadow-x: 0;
	--shadow-y: 1px;
	--shadow-blur: 8px;
	--shadow-spread: 0px;
	--shadow-opacity: 0.05;
	--shadow-color: oklch(0 0 0);
	--shadow-2xs: 0 1px 8px 0px hsl(0 0% 0% / 0.03);
	--shadow-xs: 0 1px 8px 0px hsl(0 0% 0% / 0.03);
	--shadow-sm:
		0 1px 8px 0px hsl(0 0% 0% / 0.05), 0 1px 2px -1px hsl(0 0% 0% / 0.05);
	--shadow:
		0 1px 8px 0px hsl(0 0% 0% / 0.05), 0 1px 2px -1px hsl(0 0% 0% / 0.05);
	--shadow-md:
		0 1px 8px 0px hsl(0 0% 0% / 0.05), 0 2px 4px -1px hsl(0 0% 0% / 0.05);
	--shadow-lg:
		0 1px 8px 0px hsl(0 0% 0% / 0.05), 0 4px 6px -1px hsl(0 0% 0% / 0.05);
	--shadow-xl:
		0 1px 8px 0px hsl(0 0% 0% / 0.05), 0 8px 10px -1px hsl(0 0% 0% / 0.05);
	--shadow-2xl: 0 1px 8px 0px hsl(0 0% 0% / 0.13);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--font-sans: var(--font-sans);
	--font-mono: var(--font-mono);
	--font-serif: var(--font-serif);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--shadow-2xs: var(--shadow-2xs);
	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);

	--tracking-tighter: calc(var(--tracking-normal) - 0.05em);
	--tracking-tight: calc(var(--tracking-normal) - 0.025em);
	--tracking-normal: var(--tracking-normal);
	--tracking-wide: calc(var(--tracking-normal) + 0.025em);
	--tracking-wider: calc(var(--tracking-normal) + 0.05em);
	--tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
		letter-spacing: var(--tracking-normal);
		font-feature-settings:
			"rlig" 1,
			"calt" 1;
	}
}

/* Prevent horizontal overflow on mobile */
html,
body {
	overflow-x: hidden;
	max-width: 100vw;
}

/* Ensure proper mobile viewport */
#__next,
main {
	max-width: 100vw;
	overflow-x: hidden;
}
